ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
 
.category-block {
    margin-bottom: 4px;
}
 
.category-banner {
    border-left: 8px solid #660033;
    background: #cc0066;
    height: 40px;
    padding: 10px;
    font-weight: 500;
    color:white;
}

ion-toolbar {
    --background: #99004d;
}

