


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Hoàn tất mua hàng</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Họ và Tên</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Địa chỉ</ion-label>
      <ion-input type="text" [(ngModel)]="country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Điện thoại liên lạc</ion-label>
      <ion-input type="number" [(ngModel)]="callnumber"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button fill="solid" expand="block" color="dark" (click)="sendEmail()" 
    >Hoàn tất mua hàng</ion-button
  >
</ion-content>
