<ion-content class="bodystyle">
    <div class="login-box" >
        <h1>Login</h1>
        <div class="textbox">
          <i class="fas fa-user"></i>
          <input type="email" [(ngModel)]="email" placeholder="Email">
        </div>
      
        <div class="textbox">
          <i class="fas fa-lock"></i>
          <input type="password" [(ngModel)]="password" placeholder="Password">
        </div>
      
        <input type="button" class="btn" value="Sign in" (click)="login()">
        <input type="button" class="btn" value="Register" routerLink="/register" routerDirection="forward" >
    </div>
  </ion-content>

